.title{
  text-align: center;
  margin-bottom: 10px;
}

th{
  text-align: left;
  font-size: x-large;
}

table{
  
  border-color: lightgray;
}

input[type="text"]{
  width: 100%;
  font-size: larger;
  padding: 5px;
}

.selection{
  position: absolute;
  top: 200px;
  right: 200px;
}

.selection table{
  width: 100%;
}